.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    
    display: flex;
    justify-content: center;
    
  }

  .footer-links {
    display: flex;
    justify-content: center;
  }
  
  .footer-links li {
    margin: 0 10px;
    padding: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-social .social-icon {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
  }
  