/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding: 20px;
}

.logo {
 width: 100px;
 height: auto;
}

h1 {
    margin: 0;
}

.nav-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}
nav li:last-child {
    border-radius: 4px;

}

nav li:last-child a {
    color: #4275f5;
}

nav li.signin {
    margin-left: auto;
}